@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
}

.header {
    background-color: #333;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

